<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>最安値と最新の口コミをチェック</h1>
        <a href="" class="btn btn-success btn-lg">しっかり調べて、 ば⁠っ⁠ち⁠り⁠予⁠約⁠。充⁠実⁠の⁠旅⁠へ
</a>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>